<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Page 1</h1>
	</div>
</div>
<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<div class="form">
			<div class="form-group">
				<label class="control-label" for="info_1">INFO_1</label>
				<select class="form-control" id="info_1" ng_model="vm.info_1">
					<option disabled selected>Choose one...</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="info_2">INFO_2</label>
				<select class="form-control" id="info_2" ng_model="vm.info_2">
					<option disabled selected>Choose one...</option>
					<option>2</option>
					<option>4</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="info_3">INFO_3</label>
				<select class="form-control" id="info_3" ng_model="vm.info_3">
					<option disabled selected>Choose one...</option>
					<option>1</option>
					<option>2</option>
					<option>3</option>
					<option>4</option>
					<option>5</option>
				</select>
			</div>
			<div class="form-group">
				<label class="control-label" for="company">COMPANY</label>
				<input class="form-control" type="text" id="company" ng_model="vm.company">
			</div>
			<div class="form-group" ng-class="{'has-error': vm.zip_code_msg}">
				<label class="control-label" for="zip_code">ZIP_CODE</label>
				<input class="form-control" type="number" id="zip_code" ng_model="vm.zip_code">
				<span class="help-block" ng-if="vm.zip_code_msg">{{vm.zip_code_msg}}</span>
			</div>
			<div class="form-group">
				<label class="control-label" for="price">PRICE</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input class="form-control" type="number" id="price" ng_model="vm.price">
				</div>
			</div>
			<div class="form-group">
				<button class="btn btn-primary" ng-click="vm.submit()">Submit</button>
			</div>
		</div>
	</div>
</div>